<div class="dashboard_container">
  <div class="left_dashboard">
    <div class="sidebar_logo">
      <h1>
        <img
          src="https://img.icons8.com/?size=512&id=100051&format=png"
          alt=""
        />
        Podaci
      </h1>
    </div>

    <div class="sidebar_menu">
      <p
        (click)="showHomeMethod()"
        [ngClass]="showHome ? 'clicked' : 'not_clicked'"
      >
        <ion-icon name="home"></ion-icon>Home
      </p>
      <p
        (click)="showServersMethod()"
        [ngClass]="showServers ? 'clicked' : 'not_clicked'"
      >
        <ion-icon name="server"></ion-icon>Servers
      </p>

      <p
        (click)="showAnalyticsMethod()"
        [ngClass]="showAnalytics ? 'clicked' : 'not_clicked'"
        *ngIf="!isAdmin"
      >
        <ion-icon name="analytics"></ion-icon>Analytics
      </p>
      <p
        (click)="showSettingsMethod()"
        [ngClass]="showSettings ? 'clicked' : 'not_clicked'"
        *ngIf="!isAdmin"
      >
        <ion-icon name="settings"></ion-icon>Settings
      </p>
    </div>
    <div class="sidebar_footer">
      <p><ion-icon name="information-circle"></ion-icon>Help & Information</p>
      <p (click)="logout()"><ion-icon name="log-out"></ion-icon>Log out</p>
    </div>
  </div>
  <div class="middle_dashboard">
    <div class="home" *ngIf="showHome">
      <div class="home_top">
        <div class="home_top_left">
          <h1>Hello, {{ usernameUser }}</h1>
          <p>Track your network performance here</p>
        </div>
        <div class="home_top_right">
          <div>
            <p>{{ formattedDate }}</p>
          </div>
          <div class="calender_wrapper">
            <ion-icon name="calendar"></ion-icon>
          </div>
        </div>
      </div>

      <div class="home_under_top">
        <div class="inside_under_top">
          <div class="under_top_container">
            <ion-icon name="trending-up"></ion-icon>
          </div>
          <div class="under_top_information">
            <h5>Server Up</h5>
            <div class="under_top_numbering">
              <h1>{{ serverUpLength }}</h1>
              <p>
                <ion-icon name="caret-up" class="up"></ion-icon>
                {{ upPercent.toFixed() }}%
              </p>
            </div>
          </div>
        </div>
        <div class="vertical-line"></div>
        <div class="inside_under_top">
          <div class="under_top_container">
            <ion-icon name="trending-down"></ion-icon>
          </div>
          <div class="under_top_information">
            <h5>Server Down</h5>
            <div class="under_top_numbering">
              <h1>{{ serverDownLength }}</h1>
              <p class="down">
                <ion-icon name="caret-down" class="down"></ion-icon>
                {{ downPercent.toFixed() }}%
              </p>
            </div>
          </div>
        </div>
        <div class="vertical-line"></div>
        <div class="inside_under_top">
          <div class="under_top_container">
            <ion-icon name="pulse"></ion-icon>
          </div>
          <div class="under_top_information">
            <h5>All Servers</h5>
            <div class="under_top_numbering">
              <h1>{{ allServers }}</h1>
              <p class="all">
                <ion-icon name="cloud-circle" class="all_icon"></ion-icon
                >{{ allPercent.toFixed() }}%
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="home_chart">
        <app-chart></app-chart>
      </div> -->
      <div class="under_chart d-none">
        <div class="something">
          <div class="icon_container">
            <ion-icon name="hardware-chip"></ion-icon>
          </div>
          <div class="word_container">
            <h4>Find your IP Address</h4>
          </div>
        </div>
        <div class="something">
          <div class="icon_container">
            <ion-icon name="git-network"></ion-icon>
          </div>
          <div class="word_container">
            <h4>Check if the IP is up or not?</h4>
          </div>
        </div>
        <div class="something">
          <div class="icon_container">
            <ion-icon name="cloud-done"></ion-icon>
          </div>
          <div class="word_container">
            <h4>Manage your server's.</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="servers" *ngIf="showServers">
      <div class="navbar">
        <div class="manage">
          <h1>Manage Servers</h1>
        </div>
        <div class="adding">
          <button title="ping all servers"><ion-icon class="flash" name="flash"></ion-icon></button>
          <select
            class="form-select"
            aria-label="Default select example"
            (change)="onFilterChange($event)"
          >
            <option selected>Filter</option>
            <option value="1">All</option>
            <option value="2">Active</option>
            <option value="3">Offline</option>
          </select>

          <button
            data-bs-target="#exampleModal"
            data-bs-toggle="modal"
            data-backdrop="false"
          >
            <ion-icon name="add-circle"></ion-icon>Add Server
          </button>

          <ion-icon name="print" (click)="download()"></ion-icon>
        </div>
      </div>
      <table id="testTable">
        <tr>
          <th>Image</th>
          <th>IP Address</th>
          <th>Name</th>
          <th>Memory</th>
          <th>Type</th>
          <th>Status</th>
          <th>Ping</th>
          <th>Actions</th>
        </tr>
        <tr *ngFor="let row of servers; let index = index">
          <td><img [src]="row.imageurl" alt="" /></td>
          <td>{{ row.ipadress }}</td>
          <td>{{ row.name }}</td>
          <td>{{ row.memory }}</td>
          <td>{{ row.type }}</td>
          <td *ngIf="row.status == 'SERVER UP'">
            <div class="active">
              <p><ion-icon name="ellipse"></ion-icon>Active</p>
            </div>
          </td>
          <td *ngIf="row.status == 'SERVER DOWN' || row.status == null">
            <div class="offline">
              <p><ion-icon name="ellipse"></ion-icon>Offline</p>
            </div>
          </td>

          <td>
            <div
              [ngClass]="{
                'spinner-border': row.isLoading,
                'not-visible': !row.isLoading
              }"
              role="status"
            >
              <span class="visually-hidden"></span>
            </div>
            <img
              class="ping"
              [class.not-visible]="row.isLoading"
              (click)="pingServer(row)"
              src="https://img.icons8.com/?size=512&id=9928&format=png"
            />
          </td>
          <td>
            <div class="delete_container" (click)="deleteOneServer(row, index)">
              <ion-icon name="close-circle"></ion-icon>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="analytics" *ngIf="showAnalytics">
      <h1>This is Analytics</h1>
    </div>
    <div class="settings" *ngIf="showSettings">
      <div class="profile_card">
        <div class="top_bar">
          <div class="profile_picture">
            <img
              src="https://images.unsplash.com/photo-1541647249291-71c1d98ce84f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8eW91bmclMjBwcm9mZmVzaW9uYWwlMjBsYWR5fGVufDB8fDB8fHww&auto=format&fit=crop&w=900&q=60"
              alt=""
            />
          </div>
          <div class="person_details">
            <h5>{{ userDetails.username }}</h5>
            <h6>{{ userDetails.email }}</h6>
          </div>
          <div class="badge">Admin</div>
        </div>
        <div class="buttons_container">
          <button (click)="updateDetails()">Update Details</button>
          <button class="delete">Delete Account</button>
        </div>
      </div>

      <div class="profile_card_details" *ngIf="update" [formGroup]="formUpdate">
        <input type="text" placeholder="Username" formControlName="username" />
        <input type="text" placeholder="Email" formControlName="email" />
        <div class="input_container_update">
          <input
            type="password"
            class="pass"
            id="password"
            placeholder="Password"
            formControlName="password"
          />
          <ion-icon
            name="eye-off-outline"
            (click)="showOrHide()"
            id="ion"
          ></ion-icon>
        </div>

        <input type="submit" value="Update" (click)="updateActualDetails()" />
      </div>

      <div class="alert alert-success" role="alert" *ngIf="updatedUserDetails">
        <strong>User has been updated!</strong>
      </div>
    </div>
  </div>
  <div class="right_dashboard">
    <div class="profile">
      <div class="picture_container"></div>
      <h3>{{ username }}</h3>
      <p>{{ email }}</p>
      <div class="callingIcons">
        <div class="cont">
          <ion-icon name="call"></ion-icon>
        </div>
        <div class="cont">
          <ion-icon name="videocam"></ion-icon>
        </div>
        <div class="cont">
          <ion-icon name="ellipsis-vertical"></ion-icon>
        </div>
      </div>
    </div>
    <div class="line_container">
      <div class="line"></div>
      Activity
      <div class="line"></div>
    </div>
    <div class="chat">
      <div class="zoho" *ngFor="let message of mymessage; let i = index">
        <div class="myMessage">
          <p class="user">
            {{ usernameUser }} <span class="time_zone">{{ currentTime }}</span>
          </p>
          {{ message.message }}
        </div>
        <div class="chatBox">
          <p class="user">GPT Engineer</p>
          {{ messages[i]?.message }}
        </div>
      </div>
    </div>
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="chatWithGpt()">
      <div class="inputBox">
        <ion-icon name="attach"></ion-icon>
        <input
          type="text"
          placeholder="Enter Query"
          formControlName="message"
        />
        <div class="spinner-border" *ngIf="sendingMessage" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <ion-icon *ngIf="!sendingMessage" name="send" type="submit"></ion-icon>
      </div>
    </form>
  </div>

  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <img
            src="https://res.cloudinary.com/dxnpgxqlg/image/upload/v1686408181/original-b47fd46878972efc7d4283cef54dc984-removebg-preview_yzagsb.png"
            alt=""
          />
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add Server</h1>
        </div>
        <form
          *ngIf="formAddServer"
          [formGroup]="formAddServer"
          (ngSubmit)="addServer()"
        >
          <div class="modal-body">
            <!-- Adding image-->
            <ngx-dropzone (change)="onSelect($event)" class="dropzone">
              <ngx-dropzone-label>Add Picture</ngx-dropzone-label>
              <ngx-dropzone-image-preview
                ngProjectAs="ngx-dropzone-preview"
                *ngFor="let f of files"
                [removable]="true"
                (removed)="onRemove(f)"
                [file]="f"
              >
              </ngx-dropzone-image-preview>
            </ngx-dropzone>
            <!-- Adding image-->
            <!-- <button (click)="onUpload()">Upload</button> -->

            <input
              type="hidden"
              placeholder="Image Address"
              formControlName="imageurl"
              [value]="imageUrl"
            />
            <input
              type="text"
              class="input_ip"
              placeholder="IP Address"
              formControlName="ipadress"
            />
            <div class="ip_address_type">
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="flexSwitchCheckChecked"
                  formControlName="isToggleChecked"
                />
                <label
                  class="form-check-label"
                  for="flexSwitchCheckChecked"
                  title="Turn on if you are on live site"
                  >Https Link?
                </label>
              </div>
            </div>

            <input
              type="text"
              placeholder="Server name"
              formControlName="name"
            />
            <input
              type="text"
              placeholder="Server memory"
              formControlName="memory"
            />
            <input
              type="text"
              placeholder="Server type"
              formControlName="type"
            />
            <div class="alert alert-danger" role="alert" *ngIf="alreadyExists">
              Server already exists!
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              #closeButtonRef
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn" (click)="addServer()">
              <ion-icon name="save"></ion-icon>Save
              <div
                [ngClass]="{
                  'spinner-border': isLoading,
                  'not-visible': !isLoading
                }"
                role="status"
              >
                <span class="visually-hidden"></span>
              </div>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
