header {
  position: fixed;
  top: 0;
  z-index: 9999;
  height: 60px;
  width: 100%;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.159);
  box-shadow: 0px 10px 36px rgba(147, 147, 147, 0.132);
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;


  img {
    height: 40px;
  }

  div {
    display: flex;
    align-items: center;
    gap: 5px;

    i {
      font-size: 30px;
      transition: .5s ease-in;
    }
  }
}