<div class="Get_started">
  <div class="buttons">
    <img
      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAYAAAA6/NlyAAAACXBIWXMAAAsTAAALEwEAmpwYAAABC0lEQVR4nO3awY3CQBBE0UmEM6lgbaYIiZyAKyutE/gIiRMg2T3sVHtwvQC6quHQh3EpZmb2RYAf4MK0MzAsbX7YI2iu09Lmh61x4WFmqROwW9p8M1sJ5t/HqnvZen5pfC7C56P1/DA+lD0/zAsHZf+gYa0LeeGg+F84oXWh1vNnATbAARhZvnvHI7D9ZNkr/fm9d69Z+EC/9jULj/Trr2bhrnnhKXRucsFndK5EIS6gzksvoM5LL6DOSy+gzksvoM5LL6DOSy+gzksvoM5LL6DOSy+gzksvoM5LL6DOSy+gzksvoM4zsy9B/Ut81Uu9Ou+/X+LDL/XqvBdrXHhoVOLtl3PqPDMzMytpbsSLCml9eZQhAAAAAElFTkSuQmCC"
    />
    <div class="welcome_text">
      <h4>Welcome to Podaci</h4>
      <p>Login with your PodaciAccount to continue.</p>
    </div>

    <div class="buttons_container">
      <button routerLink="/login">Log in</button>
      <button (click)="moveToSign()">Sign up</button>
    </div>
  </div>
  <div class="smallPhones">
    <img
      src="https://img.icons8.com/?size=512&id=100051&format=png"
      alt=""
      class="image"
      routerLink="/"
    />
    <div class="padding_top">
      <img
        width="96"
        height="96"
        src="https://img.icons8.com/nolan/96/flicker-free.png"
        alt="flicker-free"
      />
      <h4>Screen size not supported yet</h4>
      <p>
        We are sorry but this screen size is not supported yet. <br />
        Please switch to a larger screen than 1024 px wide.
      </p>
    </div>
  </div>
  <div class="footer">
    <a href="">Terms of use</a> | <a href="">Privacy Policy</a>
  </div>
</div>
