<div class="Get_started">
    <div class="buttons">
        <img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAYAAAA6/NlyAAAACXBIWXMAAAsTAAALEwEAmpwYAAABC0lEQVR4nO3awY3CQBBE0UmEM6lgbaYIiZyAKyutE/gIiRMg2T3sVHtwvQC6quHQh3EpZmb2RYAf4MK0MzAsbX7YI2iu09Lmh61x4WFmqROwW9p8M1sJ5t/HqnvZen5pfC7C56P1/DA+lD0/zAsHZf+gYa0LeeGg+F84oXWh1vNnATbAARhZvnvHI7D9ZNkr/fm9d69Z+EC/9jULj/Trr2bhrnnhKXRucsFndK5EIS6gzksvoM5LL6DOSy+gzksvoM5LL6DOSy+gzksvoM5LL6DOSy+gzksvoM5LL6DOSy+gzksvoM4zsy9B/Ut81Uu9Ou+/X+LDL/XqvBdrXHhoVOLtl3PqPDMzMytpbsSLCml9eZQhAAAAAElFTkSuQmCC">
        <div class="welcome_text">
            <h4>Welcome to Podaci</h4>
            <p>Login with your PodaciAccount to continue.</p>
        </div>

        <div class="buttons_container">
            <button routerLink="/login">Login</button>
            <button (click)="moveToSign()">Sign up</button>
        </div>
    </div>
</div>