.containerOTP {
  height: 600px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow: scroll;
  .cont {
    img {
      height: 80px;
    }
  }

  .alert-danger {
    margin-top: 20px;
    width: 30%;
  }
  .alert {
  }
  h1 {
    font-weight: 700;
  }

  .resend {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;

    .resendButton {
      margin-top: 10px;
      height: 40px;
      width: 130px;
      border-radius: 5px;
      background-color: rgb(4, 156, 4);
      outline: none;
      border: none;
      color: white;
      padding: 5px;
    }
    .resendButtonSubmit {
      margin-top: 10px;
      height: 40px;
      width: 130px;
      border-radius: 5px;
      background-color: rgba(6, 207, 6, 0.355);
    
      border: none;
      color: rgb(4, 156, 4);
      outline: 1px solid rgb(4, 156, 4);
      font-weight: 500;
      padding: 5px;
    }
  }

  button {
    margin-top: 10px;
    height: 40px;
    width: 130px;
    border-radius: 5px;
    background-color: var(--button-background);
    outline: none;
    border: none;
    color: white;
    padding: 5px;
  }

  .inputOTP {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;

    input {
      width: 75px;
      height: 75px;
      border-radius: 10px;
      font-size: 25px;
      font-weight: 600;
      border: none;
      outline: 1px solid rgba(128, 128, 128, 0.308);
      text-align: center;

      background: rgba(255, 255, 255, 0.3);
      box-shadow: 0 8px 32px 0 rgba(74, 74, 74, 0.232);
      backdrop-filter: blur(6.5px);
      -webkit-backdrop-filter: blur(6.5px);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
    }

    .errorOTP {
      width: 75px;
      height: 75px;
      border-radius: 10px;
      text-align: center;
      border: 1px solid rgb(149, 3, 3);
    }
  }
}

@media (width <=900px) {
  .containerOTP {
    .alert,
    .alert-danger {
      text-align: center;
      width: 90%;
    }
  }
}
